.display{
background-color: #000000;
color: #ffffff;
width: 400px;
text-align: right;
font-family: monospace;
}

.number {
  background-color: #d8d9db;
  color: #000000;
  width: 100px;
  padding: 4%;
}

.number:hover {
  background-color: #ebebeb;
}

.number:active {
  background-color: #bbbcbe;
}

.symbol {
  background-color: rgba(217, 149, 46, 0.972);
  color: #ffffff;
  width: 100px;
}

.symbol:hover {
  background-color: #dfb07e;
}

.symbol:active {
background-color: #dd8d37;
}

#button2 {
  width: 200px;
}

#button5 {
  background-color: lightgrey;
  color: black;
  width: 100px;
}

#button17 {
  width: 300px;
}

.whole-calculator {
  display: flex;
  background-color: black;
  width: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 50px;
  margin: 0 auto;
}
